#local-psql-ip : 10.10.10.237
local-psql-ip : 127.0.0.1

spring:
  stock:
    datasource:
      #    driver-class-name: org.mariadb.jdbc.Driver
      driver-class-name: com.mysql.cj.jdbc.Driver
      jdbc-url: jdbc:mysql://${local-psql-ip}:3306/stock?serverTimezone=Asia/Seoul
      #    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy

      username: root
      password: root1234

  jpa:
    hibernate:
      ddl-auto: update

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080

appkey: PSi5HLVzBGvUO6fmvQR1f8TXc3fi9gbawXmS
appsecret: Yd7hTRYCmkKW1A0+tKW0IRbZ6IKNC53E5tdWVOZetCtYhPRCbDnhHZ/D1/6cK8PHQrMAioG+UZbb0UNVYvbniB1UsxJIUZ4BEtXVyVXv7JOrEZU2qG+/Cgh7Rvo6vnCv3uLi63nmkHdgsIYKc/2MYPVK6knCdi/4YmP6blHeP6auM2ODeqE=

jasypt:
  encryptor:
    password: ${JASYPT_PASSWORD}

logging:
  level:
    root: info